<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stefanotortone.onbusapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/onbus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Contacts"></activity>
        <activity android:name=".CercaFermata"></activity>
        <activity android:name=".CercaFermataConLinea"></activity>
        <activity android:name=".SoloFermate"></activity>


    </application>
</manifest>